---
layout: default
title: Tags
---

<h1>Tags</h1>

<div class="ui  padded segments">
    {% for tag in site.tags %}
  <div class="ui raised violet segment">
      <a class="ui teal tag label">{{ tag[0] }}</a>
     <div class="ui items">
        {% for post in tag[1] %}
      <div class="item">          
        <a class="header" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="ui hidden  divider"></div>