
    <div class="ui overlay raised  purple  centered bordered card">
            <div class="content">
                <div class="header">关于</div>
                <div class="ui divider"></div>
                <div class="left floated author"><img class="ui avatar image" src="{{ site.baseurl }}/assets/images/avator.jpg"> {{ site.data.me.first.name }}</div>
                <div class="description">
                    <p>{{ site.data.me.first.desc }}</p>
                </div>
            </div>
            <div class="center aligned extra content">
                <div class="ui buttons">
                    <a class="ui circular github icon button" href="https://github.com/{{site.data.me.first.github}}"><i
                            class="ui circular github icon"></i></a>
                    <a class="ui circular mail icon button" href="mailto:{{site.data.me.first.email}}"><i class="ui circular mail icon"></i></a>
                    <a class="ui circular feed icon button" href="{{ site.baseurl }}/feed.xml"><i class="ui circular feed icon"></i></a>
                </div>
    
            </div>
        </div>