<head>
        <meta charset="utf-8"/>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport">
    
        <link href="{{ site.baseurl }}/assets/css/container.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/divider.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/grid.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/header.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/icon.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/image.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/item.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/list.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/menu.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/reset.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/segment.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/site.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/transition.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/progress.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/label.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/rail.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/sticky.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/card.min.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" type="text/css">
        
        <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/semantic.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/main.js"></script>
        <title>{{ page.title }}</title>
        {% feed_meta %}
        {% seo %}
</head>